.header {
    background: #5F4B8BFF;
    padding: 20px calc(50% - 500px) 10px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #E69A8DFF;
    font-size: 45px;
    margin-left: 40px;
}

@media only screen and (max-width: 671px) {
    .header {
        width: 100%;
        padding: 15px calc(50% - 500px) 5px;
    }
    .header__title {
        font-size: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
  }